.home_Wrap{
    width: 430px;
    height: 200px;
    margin: 0 auto;
    margin-top: 20%;
}

.home_Wrap p{
    color: black;
    font-size: 44px;
}

.username{
    display: none;
}
.username.visible{
    display: flex;
}